.CollapsibleMenu {
  margin-bottom: 1.2rem 0;
}

.CollapsibleMenu > input[type="checkbox"] {
  display: none;
}

.CollapsibleMenu-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: black;
  background: #1da1f2;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.CollapsibleMenu-toggle:hover {
  color: #657786;
}

.CollapsibleMenu-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.CollapsibleMenu-toggleButton:checked + .CollapsibleMenu-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.CollapsibleMenu-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.CollapsibleMenu-toggleButton:checked + .CollapsibleMenu-toggle + .CollapsibleMenu-content {
  max-height: 800px;
}

.CollapsibleMenu-toggleButton:checked + .CollapsibleMenu-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.CollapsibleMenu-content .CollapsibleMenu-contentInner {
  background: #f5f8fa;
  border-bottom: 1px solid rgba(250, 224, 66, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}
