.Twitter-main {
  display: flex;
  padding-top: 80px;
}

.Twitter-column {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

.Twitter-column--left {
  align-items: flex-end;
  justify-content: flex-start;
}

.Twitter-column--right {
  align-items: flex-start;
}